.patchPageStartPage{
    display: grid;
    width: 100vw;
    height: 100vh;
    background-image: url("../image/NewGamePage.jpg");
    background-position: center;
    background-size: 100vw 100vh;
    overflow: auto;
}

.patchStartPage{
    display: grid;
    color: white;
    width: 60vw;
    height: 100vh;
    justify-self: center;
}

.patchFileStartPage{
    display: grid;
    border: 1px solid white;
    margin-bottom: 2vh;
    background-color: rgba(0, 0, 0, 0.9);
}

.buttonBackPatchPageStartPage{
    display: grid;
    justify-self: flex-start;
    height: 8vh;
    width: 10vw;
    margin: 1vw;
}