.patchPageStartPage{
    display: grid;
    width: 100vw;
    height: 100vh;
}

.patchStartPage{
    display: grid;
    color: white;
    width: 60vw;
    height: 100vh;
    justify-self: center;
}

.patchFileStartPage{
    display: grid;
    border: 1px solid white;
    margin-bottom: 2vh;
}

.buttonBackPatchPageStartPage{
    display: grid;
    justify-self: flex-start;
    height: 8vh;
    width: 10vw;
    margin: 1vw;
}