.startPage{
    display: grid;
    height: 100vh;
    width: 100vw;
    background-image: url("../../src/image/NewGamePage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
    grid-template-rows: 33vh 33vh 33vh;
}

.NewGameButton{
    display: grid;
    width: 10vw;
    height: 7vh;
    align-self: flex-end;
    margin-left: 10vw;
}

.loadGameButton{
    display: grid;
    width: 10vw;
    height: 7vh;
    align-self: center;
    margin-left: 10vw;
}

.logoutGameButton{
    display: grid;
    width: 10vw;
    height: 7vh;
    margin-left: 10vw;
    grid-template-columns: 35vw 35vw;
    grid-column: auto;
}

.buttonLogout{
    display: grid;
    width: 10vw;
    height: 7vh;
}

.buttonAchievement{
    display: grid;
    width: 10vw;
    height: 7vh;
    justify-self: flex-end;
}

.modalLoadGame {
    background-image: url("../image/backgroundButtonKobold.jpg");
    display: grid;
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 15%;
    left: 30%;
    border: 2px solid white;
    overflow: auto;
    max-height: 50vh;
    grid-template-rows: auto auto;
}

body {
    background-color: #100e17;
    font-family: 'Open Sans', sans-serif;
}

.containerStartPage {
    position: absolute;
    height: 40vh;
    width: 60vw;
    top: 6vh;
    display: flex;
    margin-left: 4vw;
}

.cardStartPage {
    display: flex;
    height: 40vh;
    width: 15vw;
    background-color: darkred;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
}

.cardStartPage:not(:first-child) {
    margin-left: -50vw;
}

.cardStartPage:hover {
    transform: translateY(-4vh);
    transition: 0.4s ease-out;
    background: linear-gradient(90deg, rgb(169, 103, 27) 0%, rgb(84, 32, 5) 65%, rgb(227, 10, 10) 100%);
}

.cardStartPage:hover ~ .cardStartPage {
    position: relative;
    left: 30vw;
    transition: 0.4s ease-out;
}

.titleStartPage {
    color: white;
    font-weight: 200;
    position: absolute;
    left: 2vw;
    top: 2vh;
}

.title2StartPage{
    color: white;
    font-weight: 200;
    position: absolute;
    left: 2vw;
    top: 5vh;
}

.barStartPage {
    position: absolute;
    top: 13vh;
    left: 2vw;
    height: 0.7vh;
    width: 10vw;
}

.emptybarStartPage {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbarStartPage {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 0;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
}

.cardStartPage:hover .filledbarStartPage {
    width: 10vw;
    transition: 0.4s ease-out;
}

.circleStartPage {
    position: absolute;
    top: 18vh;
    left: calc(50% - 60px);
}

.strokeStartPage {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}

svg {
    fill: darkred;
    stroke-width: 0.2vw;
}

.cardStartPage:hover .strokeStartPage {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}

.infosAchievement {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    border: 2px solid;
    background-image: url("../image/backgroundButtonKobold.jpg");
    padding: 5px;
}

.achievementContent:hover .infosAchievement {
    display: block;
}

.achievementContent{
    display: grid;
    height: 10vh;
    align-items: center;
    justify-items: center;
}

.modalAchievement {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 70vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../image/backgroundButtonKobold.jpg");
}

.achievementGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1vh;
}


.rainbowFrame {
    border: 2px solid;
    animation: rainbowBorder 2s linear infinite;
    color: #61dafb;
    background-image: url("../image/backgroundButtonKobold.jpg");
}

@keyframes rainbowBorder {
    0%   { border-color: red; }
    14%  { border-color: orange; }
    28%  { border-color: yellow; }
    42%  { border-color: green; }
    57%  { border-color: blue; }
    71%  { border-color: indigo; }
    85%  { border-color: violet; }
    100% { border-color: red; }
}

.blackFrame {
    border: 2px solid #ffffff;
    animation: none;
    color: #61dafb;
    background-image: url("../image/backgroundButtonKobold.jpg");
}

@keyframes rotation {
    /* Definition der Animationsrotation */
}